/* Estilo básico para la sección de contacto */
.contact {
  padding: 2rem;
}

.contact h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contact p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.contact ul {
  list-style: none;
  padding: 0;
}

.contact li {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.contact a {
  text-decoration: none;
  color: #0077cc; /* Color del enlace */
}

.contact a:hover {
  text-decoration: underline; /* Subrayar el enlace al pasar el mouse */
}
